body {
  margin: 0;
  font-family: Arial;
  background: #eaf3ff; /* 🌍 heller Look */
  color: black;
}

.app {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 340px;
  background: white;
  padding: 15px;
  overflow-y: auto;
  border-right: 1px solid #ddd;
}

h1 {
  font-size: 20px;
}

input, select {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  background: #2563eb;
  border: none;
  border-radius: 10px;
  color: white;
  margin-top: 10px;
}

/* CHARTS */
canvas {
  margin-top: 15px;
  background: white;
  border-radius: 10px;
}

/* GLOBE */
#globeViz {
  flex: 1;
  background: #dff1ff;
}

/* 🍔 MENU BUTTON */
.menu-btn {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 9999;
  font-size: 22px;
  background: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

/* 📱 MOBILE FIX */
@media (max-width: 768px) {

  .app {
    flex-direction: column;
  }

  #globeViz {
    height: 100vh;
  }

  .sidebar {
    position: fixed;
    left: -100%;
    top: 0;
    height: 100%;
    width: 85%;
    transition: 0.3s;
    z-index: 999;
    box-shadow: 5px 0 20px rgba(0,0,0,0.2);
  }

  .sidebar.active {
    left: 0;
  }

  .menu-btn {
    display: block;
  }
}
